* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6%;
}

/* FORMULÁRIO */

form {
  font-family: 'Caveat', cursive;
  background: url('../assets/comandaForm.png') no-repeat center;
  background-color: transparent;
  color: #423020;
  font-weight: bolder;
  margin-top: -40px;
  margin-left: -240px;
  max-width: 500px;
  height: 620px;
  padding: 40px;
  background-size: 130% 100%;
  padding-top: 90px;
  padding-right: 20px;
  filter: drop-shadow(0px 5px 2px rgba(68, 38, 17, 0.4));
}

form h1 {
  font-family: 'Caveat', cursive;
  text-align: center;
  margin-bottom: 10px;
  color: #db4c4c;
  font-size: 36pt;
}

form p {
  font-family: 'Caveat', cursive;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20pt;
}

form .input-single {
  font-family: 'Caveat', cursive;
  position: relative;
  margin: 30px ;
}

form .input-single label {
  font-size: 17pt;
  font-family: 'Caveat', cursive;
  position: absolute;
  left: 0;
  bottom: 5px;
  cursor: text;
  transition: all 0.5s;
  color: #9b7f5ac5;
}

form .input-single .input {
  width: 100%;
  border: 0;
  border-bottom: 2px dashed #c5b097;
  background:transparent;
  padding: 12px 5px 4px 5px;
  outline: 0;
  font-size: 16px;
}

form .input-single .input:focus {
  border-bottom: 3px dashed #a89277;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
  transform: translateY(-30px);
  font-size: 19px;
  color: #df9f7a;
}

.btn {
  background: url('../assets/botao-enviar.png') no-repeat center;
  width: 180px;
  height: 180px;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: block;
  margin: -50px auto 0 auto;
  transition: transform 0.2s ease;
}

form input[type=submit] {
  padding: 6px 3px;
  border: 0;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

/* FORMULÁRIO FIXO NA LATERAL */
.contact-box-fixed {
  position: fixed;
  top: 150px;
  right: 100px;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  z-index: 999;
}

@media (max-width: 768px) {
  .contact-box-fixed {
    position: static;
    width: 90%;
    margin: 20px auto;
    top: auto;
    right: auto;
  }
}

/* INFORMATIVO DUAS CAIXAS VERMELHA E VERDE */
.info-dupla {
  display: flex;
  width: 1100px;
  margin: 220px 200px 40px;
  height: 360px;
  overflow: hidden;
  position: relative;  /* Torna a caixa fixa */
  top: 30px;  /* Ajusta a distância do topo */
  left: 20px;  /* Ajusta a distância à esquerda */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;  
}

.coluna-esquerda {
  background-color: #135816;
  color: white;
  padding: 30px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 106px; 
}

.coluna-direita {
  background-color: #C04035;
  color: white;
  overflow: hidden;
  padding: 30px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 119px; 
}
.coluna-esquerda .item i {
  font-size: 30px; /* Aumenta os ícones */
  
}


.item { 
  display: flex;
  align-items: center;
  gap: 14px;
}

.item i {
  color: #f1eadf;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  width: 30px;
}

.item-localizacao i {
  position: relative;
  left: 2px;
}

.item span { 
  color: #f1eadf;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.item p {
  color: #f1eadf;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .info-dupla {
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
  }

  .coluna-esquerda,
  .coluna-direita {
    width: 100%;
  }
}

/* Rodapé */
.footer {
  background-color: #C04035; 
  color: #fff;
  padding: 0px 0px; 
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  gap: 15px;

}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px; 
  font-weight: bolder;
}

.footer-address {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.footer-address div {
  width: 150px; 
  margin-top: 5px;
}

.footer-address h4 {
  font-size: 14px; 
  margin-bottom: 5px;
}

.footer-bottom {
  background-color: #722a2a; 
  text-align: center;
  padding: 5px 0; 
  margin-top: 10px;
  font-size: 10px; 
}