* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6%;
}

/* FORMULÁRIO */
form {
  margin-left: -170px;
  background: #fff;
  max-width: 500px;
  height: 450px;
  padding: 40px;
  border-radius: 20px;
}

form h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #2D5966;
  font-size: 22pt;
}

form p {
  text-align: center;
  margin-bottom: 25px;
}

form .input-single {
  position: relative;
  margin: 30px 0;
}

form .input-single label {
  position: absolute;
  left: 0;
  bottom: 5px;
  cursor: text;
  transition: all 0.5s;
  color: #808080;
}

form .input-single .input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #808080;
  padding: 5px;
  outline: 0;
  font-size: 16px;
}

form .input-single .input:focus {
  border-bottom: 2px solid #2D5966;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #2D5966;
}

.btn {
  width: 100%;
  text-align: center;
}

form input[type=submit] {
  border: 0;
  border-radius: 10px;
  background-color: #0b1105;
  color: #fff;
  font-size: 14pt;
  cursor: pointer;
  border-radius: 19px;
}

/* FORMULÁRIO FIXO NA LATERAL */
.contact-box-fixed {
  position: fixed;
  top: 150px;
  right: 100px;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  z-index: 999;
}

@media (max-width: 768px) {
  .contact-box-fixed {
    position: static;
    width: 90%;
    margin: 20px auto;
    top: auto;
    right: auto;
  }
}

/* INFORMATIVO DUAS CAIXAS VERMELHA E VERDE */
.info-dupla {
  display: flex;
  width: 1100px;
  margin: 220px 200px 40px;
  height: 360px;
  overflow: hidden;
  position: fixed;  /* Torna a caixa fixa */
  top: 30px;  /* Ajusta a distância do topo */
  left: 20px;  /* Ajusta a distância à esquerda */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;  
}

.coluna-esquerda {
  background-color: #135816;
  color: white;
  padding: 30px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.coluna-direita {
  background-color: #C04035;
  color: white;
  overflow: hidden;
  padding: 30px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.coluna-esquerda .item i {
  font-size: 30px; /* Aumenta os ícones */
  
}


.item { /*texto verde*/
  display: flex;
  align-items: center;
  gap: 14px;
}

.item i {
  color: #f1eadf;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  width: 30px;
}

.item-localizacao i {
  position: relative;
  left: 2px;
}

.item span { /*infos verde*/
  color: #f1eadf;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.item p { /*infos vermelho*/
  color: #f1eadf;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .info-dupla {
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
  }

  .coluna-esquerda,
  .coluna-direita {
    width: 100%;
  }
}

/* Rodapé */
.footer {
  background-color: #C04035; 
  color: #fff;
  padding: 0px 0px; 
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 12px; 
}

.footer-address {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.footer-address div {
  width: 150px; 
  margin-top: 5px;
}

.footer-address h4 {
  font-size: 14px; 
  margin-bottom: 5px;
}

.footer-bottom {
  background-color: #9c2a2a; 
  text-align: center;
  padding: 5px 0; 
  margin-top: 10px;
  font-size: 10px; 
}